.idea
__pycache__
.coverage
dist/
notebooks/.ipynb_checkpoints/
Untitled.ipynb
cache

# vscode
.devcontainer*
.vscode

# gettext
*.mo
htmlcov/

.deploy.json
.fabfile.yml
.fabric.yml
deploy/inventory.yml
